.search {
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #0f0f0f;
  svg {
    color: #aaaaaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 24px;
    height: 24px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    svg {
      left: 0;
    }
  }
}

.search__input {
  height: 36px;
  width: 100%;
  position: relative;
  caret-color: #aaaaaa;
  color: #fff;
  padding: 0 40px;
  font-size: 100%;
  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: #aaaaaa;
    opacity: 0.3;
  }

  &:valid ~ button {
    visibility: visible;
    opacity: 1;
  }
}
